*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  color: #fff;
  background-image: url("imgs/background2.jpg"); /* The image used */
  background-color: #ffbd00; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  font-family: 'Montserrat';

}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffbd00, 0 0 40px #ffbd00, 0 0 50px #ffbd00, 0 0 60px #ffbd00;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #b75e16, 0 0 40px #b75e16, 0 0 50px #b75e16, 0 0 60px #b75e16, 0 0 70px #b75e16, 0 0 80px #b75e16;
  }
}

.glow{
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.world {
  overflow: hidden;
  position: relative;
}

.score-wrapper {
  position: fixed;

  display: flex;
  align-items: center;
  font-size: 3vmin;
  top: 0;
  left: 10px;
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}

h3 {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 10px;
}

#results {
  position: fixed;
  top: 40px;
  right: 0;
  /* border: 2px solid red; */
  /*border-radius: 5px 5px 5px 5px; */
  /*padding: 5px 5px 5px 5px; */
  margin: 10px 10px 10px 10px;

  
    padding: 20px 40px; 
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    z-index: 1;
}
